<% provide(:title, "Home") %>

    <!-- Lead -->

    <section class="row-alt">
      <div class="lead container">
        <h1><%= full_title(yield(:title), true) %></h1>
      </div>
    </section>

	<div class="col-1-3">Menu: <br> Tips,<br> Ticks, <br>List of Places</div><!--

	--><div id="map-canvas" class="col-2-3"></div>
