<% provide(:title, "Request") %>

    <!-- Lead -->

    <section class="row-alt">
      <div class="lead container">
        <h1><%= full_title(yield(:title), true) %> - Request</h1>
      </div>
    </section>

     <section class="row">
      <div class="grid">
          <div class="col-2-3">
		      <p>
		      	Request a location for Code Island's <%= full_title(yield(:title), true) %>!
		      </p>
          </div>
      </div>
    </section>
